@import url('https://db.onlinewebfonts.com/c/ab21a97b9cae2e116d8d1473baefc9f0?family=RDR+Lino+Regular');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;800&display=swap');

* {
    margin: 0;
}

body {
    display: none;
    overflow: hidden;
    padding: 0;
    margin: 0;
    user-select: none;
/*     background: linear-gradient(179deg, rgba(0, 0, 0, 0.50) 38.54%, rgba(0, 0, 0, 1) 99.24%); */
    font-family: 'RDR Lino Regular', 'Montserrat', sans-serif;
}

::-webkit-scrollbar {
	width: 1px;
}

::-webkit-scrollbar-thumb {
	background-color: transparent;
    border-radius: 1px;
}

#deathscreen {
    width: 30%;
    height: 33%;
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    top: 5%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: red; */
}

#countdown {
    width: 70%;
    height: 75%;
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('../imgs/weathered_paper.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 20px;
    box-sizing: border-box;
}

.countdiv {
    width: 40px;
    height: 50px;
    position: relative;
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(192, 192, 192);
    font-size: 28px;
    overflow: hidden;
}

.countdiv h4 {
    text-shadow: none;
    margin: 0;
}

.death-button {
    background-image: url('../imgs/selection_box_bg_1d.png');
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    border-radius: 4px;
    color: white;
    padding: 16px 32px;
    font-size: 16px;
    font-family: 'RDR Lino Regular', 'Montserrat', sans-serif;
    cursor: pointer;
    text-shadow: none;
    min-width: 200px;
    min-height: 50px;
    position: relative;
    transition: all 0.2s ease;
}

.death-button:hover {
    background-image: url('../imgs/selection_box_bg_1d.png'), url('../imgs/selsected.png');
    background-size: 100% 100%, 100% 100%;
    background-position: center, center;
    background-repeat: no-repeat, no-repeat;
}